/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* *** */

/* CSS variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --light-highlight-color: #7a9fc2; /* light blue */
}

body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* header */
#header .lead {
    font-family: var(--secondary-font);
}


/* navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 40px;
}

/* services */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}


/* games library page */

#fav-games, #new-games {
    margin-left: 2em;
    margin-right: 2em;
}

#fav-games .card, #new-games .card {
    border: none;
}

/* footer / contact */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--light-highlight-color);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}
#contact a {
    text-decoration: none;
}

#contact .social-links i {
    color: var(--light-highlight-color);
    font-size: 1.9rem;
    transition: color 0.3 ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
    font-size: 1.9rem;
}


/* media queries */

/* for tablets, 768 and up */
@media screen and (min-width: 768px) {
    /* this is used to make all the services cards the same height and align */
    #services .card-body {
        min-height: 191px;
    }
}
/* for small devices 992px and up */
@media screen and (min-width: 992px) {
    /* this is used to make all the services cards the same height and align */
    #services .card-body {
        min-height: auto;
    }
}
@media screen and (min-width: 1200px) {
    /* this is used to make all the services cards the same height and align */
    #services .card-body {
        min-height: 218px;
    }
}

@media screen and (min-width: 1400px) {
    /* this is used to make all the services cards the same height and align */
    #services .card-body {
        min-height: 224px;
    }
}

/* grid visuals for testing */
/* .sub-heading-color {
    color: var(--highlight-color);
}

.container, .row {
    border: 2px solid black;
}

.col-12, 
.col-6 {
    border: 2px solid white;
    background-color: lightgray;
} */